.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .options {
    display: flex;
    flex-direction: row;
  }

  .option {
    padding: 16px;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
  }

  .option:hover {
    text-decoration: underline;
  }
}
