.cart-dropdown-item {
  display: flex;
  margin: 8px;
  align-items: center;

  .photo {
    height: 70px;
    width: 50px;
    background-size: cover;
  }

  .item-info {
    margin-left: 16px;
    font-size: 18px;

    .title {
      font-size: 20px;
    }
  }
}
