.cart-dropdown-item {
  display: flex;
  margin: 8px;
  justify-content: space-between;
  align-items: center;

  .photo {
    height: 70px;
    width: 50px;
    background-size: cover;
  }

  .item-info {
    text-align: right;
  }
}
